@model EDnevnik.Models.Predmet

@{
    ViewData["Title"] = "Create";
}

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Dobrodošli</title>
    <style type="text/css">
        .auto-style1 {
            color: #FFFFFF;
            text-align: center;
        }

        .auto-style2 {
            border: thick #55AA00 double;
            text-align: center;
        }

        .auto-style3 {
            text-align: center;
        }

        .auto-style4 {
            color: #FFFFFF;
            text-align: right;
        }

        .auto-style5 {
            color: #FFFFFF;
            margin-bottom: 0px;
            background: #FF9966;
        }

        .auto-style6 {
            color: #FFFFFF;
        }
    </style>
</head>

<body bgcolor="#001C47">

</body>

<h1 class="auto-style4">
    <form method="post"></form>
</h1>
<h1 class="auto-style4">
    <input id="odjava" class="auto-style5" name="nazad" type="submit" value="Nazad" />
</h1>

<div class="auto-style2">
    <span class="auto-style6">
        &nbsp;<form method="post">
            &nbsp;<span class="auto-style6">
                Naziv predmeta: <br />
            </span><input name="Text1" type="text" style="width: 310px" /><br />
            <br />
            <span class="auto-style6">Opis predmeta: </span><br />
            <textarea cols="20" name="TextArea1" style="height: 170px; width: 310px"></textarea><br />
            <br />
            <span class="auto-style6">
                Obavezna literatura:<br />
                &nbsp;<textarea name="TextArea2" style="height: 170px; width: 310px"></textarea>
        </form>
    </span><br />
    <br />
</div>


<div class="form-group">
    <label asp-for="Nastavnik" class="control-label"></label>
    <select asp-for="NastavnikId" class="form-control" asp-items="ViewBag.NastavnikId"></select>
</div>
<div class="form-group">
    <label asp-for="Godina" class="control-label"></label>
    <input asp-for="Godina" class="form-control" />
    <span asp-validation-for="Godina" class="text-danger"></span>
</div>
<form method="post"></form>
<form method="post"></form>
<form method="post"></form>
<form method="post"></form>
<form method="post"></form>

<p class="auto-style3">&nbsp;</p>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
